@charset "UTF-8";

:root{
    /*Paleta de cores*/
    --corPrincipal: rgba(65, 234, 240, 0.425);
}

*{
    margin: 0%;
    padding: 0%;
}

main{
    margin: auto;
    max-width: 90%;
}

hr{
    margin: 1%;
}

body{
    background-color: var(--corPrincipal);
}

.dados{
    width: 15%;
    height: 20px;
}

section{
    margin-left: 1%;
    background-color: aliceblue;
    width: 98%;
    display: inline-flex;
}

div{
    width: 50%;
}

textarea{
    width: 100%;
}

input{
    width: 30%;
    height: 40px;
    margin: 1%;
}

