@charset "UTF-8";

:root{
    /*Paleta de cores*/
    --corForte: #1D566B;
    --corFortinha: #3d5f6bb2;
    --corMedio: #3294B8; 
    --corFraquinha: #3FBEEB;
    --corFraca: #88D3EE;
}

*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

main{
    margin: auto;
    max-width: 90%;
}

hr{
    margin: 1%;
}

body{
    background-color: var(--corFraca);
    text-transform: capitalize;
}

.dados{
    width: 15%;
    height: 20px;
}

section{
    margin-left: 1%;
    background-color: var(--corFraca);
    width: 98%;
    display: inline-flex;
    justify-content: space-between;
}


#textSaida{
    width: 60%;
    text-align: end;
}

textarea{
    padding: 3px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.726);
    width: 100%;
    height: 90%;
    max-width: 350px;
    min-width: 100px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.295);
    background-color: rgba(255, 255, 255, 0.815);
    margin-top: 5%;
}

#dadosServico{
    margin: 1% 0%;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.308);
    font-size: 25px;
}

.quantidade{
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.308);
    font-weight: bold;
    width: 10%;
    padding: 0.5%;
    background-color: var(--corFraca);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
.quantidade > input{
    width: 100%;
    min-height: 3%;
    margin-bottom: 90%;
}

/*classe das divs que contem as divs com botoes*/
.organiza{
    width: 100%;
    text-align: center;
}

#dadosCliente{
    width: 90%;
    background-color: var(--corFraquinha);
    margin: 1%;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.26);
    font-size: 20px;
}

#dadosCliente > p{
    display: inline;
}

#dadosCliente h2{
    margin-bottom: 2%;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.308);
}

#autor{
    text-align: center;
    max-width: 10%;
    width: 15%;
    margin: 1%;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.308);
    font-weight: bold;
}

#autor > select{
    width: 80%;
    border-radius: 3px;
}

#menu{
    display: none;
    width: 100%;
    height: 40px;
    background-color: cadetblue;
}

/*
    botoes dentro das divs
    ex: Reparo Bomba, Retentor.
*/
.botao{
    background-color: var(--corMedio);
    border-radius: 5px;
    height: 540px;
    margin: 8%;
    margin-top: 0%;
}

.organiza > .botao:hover{
    background-color: var(--corFortinha);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.425);
    margin-top: 0%;
    margin-left: 7%;
    margin-right: 7%;
    transition-duration: 0.2s;
}

.botao > input{ 
    width: 40%;
    height: 33px;
    margin: 1%;
    font-size: 13px;
    white-space: inherit;
    border-radius: 5px;
    color: black;
    border: none;
    background-color: white;
}
.botao > p{
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.308);
    background-color: var(--corForte);
    padding: 2%;
    border-radius: 5px 5px 0px 0px;
    font-size: 1.4em;
    color: white;
    margin: 4% 0%;
}

.botao > input:hover{
    color: white;
    font-weight: bold;
    background-color: var(--corMedio);
    transition-duration: 0.2s;
}



